
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.calculator {
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;

}

table {
    width: 20%;
    height: 50%;
}

td {
    width: 25%;
}

#display {
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    border: none;
}

.btn {
    width: 100%;
    height: 100%;
    font-size: 20px;
}