
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.wrapper {
    background-color: #fed5fe;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
}
.calculator {
    height: 500px;
    width: 340px;
    padding: 8px;
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

}

table {
    width: 100%;
    height: 100%;
}

td {
    width: 25%;
}

#display {
    width: 100%;
    height: 75px;
    padding: 0;
    margin: 0;
    font-size: 30px;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 10px 30px rgba(21, 21, 58, 0.5);
    text-align: end;
}

.btn {
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-weight: 600;
}